.react-tabs__tab--selected {
    transition: 1s;
    border-top: 1px #00AA00 solid;
}

.tab-btn {
    background-color: #121212;
    transition: 1s;


    border-bottom: 1px #FFFFFF solid;
}

.btn-beg {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-left: 1px #FFFFFF solid;
}

.btn-end {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1px #FFFFFF solid;
}
