.project-card {

    padding: 3px;
}

.project-card-int {
    background-color: #222;
    padding: 2px;
    background-size: cover;
    background-position: center;
    transition: .5s;
    border-radius: 10px;
}

.project-card-int:hover {
    transform: translateY(-5px);
    transition: .5s;
    cursor: pointer;
}

.project-card-modal {
    background-color: #000000;
    color: #FFFFFF;
    width: 100vmin;
    height: max-content;
    position: absolute;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    outline: none;
    padding: 5vmin;
}

.ReactModal__Overlay  {
    background-color: rgba(20,20,20,.8) !important;
    backdrop-filter: blur(5px);
}

.back-button {
    color: #2F74C0;
}

.back-button:hover {
    cursor: pointer;
}

.lang-card {
    border-radius: 5px;
    font-family: monospace;
    background-color: #00AA00;
}

.lang-card-modal {
    border-radius: 5px;
    font-family: monospace;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 2px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00AA00;
}

.kubernetes {
    background-color: #326ce5;
}

.c\# {
    background-color: #800080FF;
}

.html {
    background-color: #e34c26;
}

.react {
    background-color: #61DAFB;
}

.typescript {
    background-color: #2F74C0;
}

.bootstrap {
    background-color: #7952B3;
}

.nws {
    background-color: #DB4437;
}

.docker {
    background-color: #2496ED;
}

.dotnet {
    background-color: #5C2D91;
}

.nosql {
    background-color: #4EA94B;
}

.nginx {
    background-color: #269539;
}

.react-native {
    background-color: #61DBFB;
}

.cloudflare {
    background-color: #F38020;
}

.html {
    background-color: #E44D26;
}

.javascript {
    background-color: #b9a617;
}

.css {
    background-color: #1572B6;
}

.xenhtml {
    background-color: #3A6A81;
}

.xeninfo {
    background-color: #3E4E57;
}

.java {
    background-color: #007396;
}

.apple-script {
    background-color: #D9D9D9;
}

.spotify {
    background-color: #1DB954;
}

.nodejs {
    background-color: #339933;
}

.rancher {
    background-color: #0075A8;
}

.azure-devops {
    background-color: #0078D7;
}

.mongodb {
    background-color: #47A248;
}

.mssql {
    background-color: #CC2927;
}
