.icon {
    transition: 1s !important;
    fill: #FFFFFF;
    height: 50px;
}

.icon:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.insta-icon:hover {
    fill: #DD2A7B;
}

.twitter-icon:hover {
    fill: #1DA1F2;
}


.github-icon:hover {
    fill: #F1502F;
}

.linkedin-icon:hover {
    fill: #0077B5;
}

.mail-icon:hover {
    fill: #EA4335;
}
